.elements-item__like {
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  margin-right: 20px;
  background-color:  white;
  cursor: pointer;
  background-image: url('../../../imges/like.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.elements-item__like:hover {
  opacity: 0.5;
  transition: 0.25s;
}