.popupOpenImage__image {
    max-width: 75vw;
    max-height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 625px) {
  .popupOpenImage__image {
    width: 240px;
  }
}
  