.header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid #5454547e;
}
@media (max-width: 625px) {
  .header {
    padding-top: 28px;
  }
}