.popup-add {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: none;
  }
  .popup-add:before {
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
  }