.profile__info-title__editButton {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url('../../../../imges/editImg.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
}
.profile__info-title__editButton:hover {
  opacity: 0.6;
  transition: 0.25s;
}

@media (max-width: 625px) {
  .profile__info-title__editButton {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 320px) {
  .profile__info-title__editButton {
    position: absolute;
    left: 100%;
    margin-top: 8px;
    margin-left: 10px;
  }
}