.popup__error-job-input {
    width: 84%;
    margin: 5px auto 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: none;
}